<div class="mt50">
<div>
  <label for="username">UserName:</label>
  <input type="text" class="form-control"  [(ngModel)]="username">
</div>
<div>
    <label for="password">Password:</label>
  <input type="password" class="form-control">
</div>
<button class="btn btn-primary mt50" type="submit" data-toggle="modal" data-target="#myModal">Submit</button>
</div>
<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Login Successful</h6>
      </div>
      <div class="modal-body">
        <h1>Welcome {{username}} !!</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>