<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap" rel="stylesheet">
    
    <!-- <link href="styles.css" rel="stylesheet"> -->
    <title>Too Yummies</title>
    <link rel="icon" type="image/ico" href="/assets/images/logo.png" />
    <base href="/"> 
  </head>
  <body>
<section class="sectionveg1">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
<h1>VEGETARIAN RECIPES</h1>
  <!-- Start of breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">View-Receipes</a></li>
      <li class="breadcrumb-item active" aria-current="page">Veg-Recepies</li>
    </ol>
  </nav>
    <!-- End of breadcrumb -->
    <div (click)="showdetails()"><img src="/assets/images/veg1.jpg"></div>
    <div><p>Discover budget-friendly vegetarian recipes that are loved by vegetarians and omnivores alike! No mystery ingredients here, just simple food made easy and delicious, without the meat. Choose from over 400 vegetarian recipes for breakfast, lunch, dinners, snacks, and more. Many of these vegetarian recipes found here are vegan friendly or can easily be converted to be 100% plant-based. </p></div>
    </div>
    <!-- Start of Social Icon -->
    <div class="social">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-pinterest-square"></i>
        <i class="fab fa-facebook-square"></i>
    </div>
    <!-- End of Social Icon -->
    <div class="col-md-12 p-0">
      <div class="row">
    <div class="col-md-4 mr-10 p-0">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="/assets/images/viewsection2.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mr-10 p-0">
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="/assets/images/viewsection2.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mr-10 p-0">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="/assets/images/viewsection2.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mr-10 p-0">
              <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="/assets/images/viewsection2.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr-10 p-0">
                <div class="card" style="width: 15rem;">
                  <img class="card-img-top" src="/assets/images/viewsection2.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mr-10 p-0">
                  <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="/assets/images/viewsection2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mr-10 p-0">
                    <div class="card" style="width: 15rem;">
                      <img class="card-img-top" src="/assets/images/viewsection2.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
    </div>
  </div>
  </div>
      <div class="col-md-4">
        <div class="row">
        <div class="col-md-12 asidefood1">
            <div class="asidefood-img"><img src="/assets/images/Garden-Vegetable-Turkey-Loaf-Meal-Prep-H2-400x180.jpg"></div> 
            <div class="carousel-caption d-none d-md-block asidefood-text">Veg Receipes</div>
           
        </div>
        <div class="col-md-12 asidefood">
        <div class="asidefood-img margintop"><img src="/assets/images/aside1.jpg"></div> 
            <div class="carousel-caption d-none d-md-block asidefood-text">Non-Veg Receipes</div>
          </div>
        
        <div class="col-md-12 asidefood">
          <div class="asidefood-img margintop"><img src="/assets/images/Creamy-Tomato-and-Spinach-Pasta-skillet-1-400x180 (1).jpg"></div> 
              <div class="carousel-caption d-none d-md-block asidefood-text">Pasta Receipes</div>
        </div>
        <div class="col-md-12 asidefood mr-auto">
          <div class="margintop">
        <h1>Receipe By Date</h1>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select the month
            </button>
          </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="margintop">
      <img src="/assets/images/SAV16_SBA_Badges_EC_howto.jpg">
      </div>
      <div class="margintop">
      <img src="/assets/images/170623195218_feedingamerica_us_300250.png">
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>